{% extends 'base.html'%}

{% block content %}
<div>Top level</div>
<div>
    <table class="btn-responsive">
        <thead>
        </thead>
        <tbody>
        <td style="width:30%;height:auto;">
            {% for l in locations %}
            <div style="background-color:brown;border:1px solid red">
                <a href="{% url 'location_details' l.domain_type_id  %}" target="iframe_location" id=location_"{{l.id}}"
                   style="background-color:brown;color:white" class="w3-btn w3-block w3-red w3-left-align">
                    {{ l.area }}
                </a>
            </div>
            {% endfor %}
        </td>
        <td cellIndex="0" id="frame_cell_1" style="width:70%;height:auto;" colspan="200">

            <!-- 21:9 aspect ratio -->

            {% block div %} {% endblock %}
        </td>
        </tbody>
        <tfoot>
        <tr>
            <td id="col1">

            <td id="col2">
                <table id="table2">
                    <div></div>
                    <tr>

                    </tr>
                </table>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
{% endblock %}